welcome to the celebs page 

{{#each celebs}}
  <li>
    {{name}}
    {{occupation}}
    {{catchPhrase}}

    <a href="details/{{_id}}">Details</a>
    <a href="edit/{{_id}}">Edit</a>
    <a href="delete/{{_id}}">X</a>

  </li>
{{/each}}