welcome to the products page 

{{#each items}}
  <li>
    {{name}}
    {{price}}
    {{location}}

    <a href="details/{{_id}}">Details</a>
    <a href="edit/{{_id}}">Edit</a>
    <a href="delete/{{_id}}">X</a>

  </li>
{{/each}}