Product detail
<br>
<a href="/products"> Return</a>
<h1>{{item.name}}</h1> 

<form action="" method="POST">
 <button class="btn btn-block btn-primary"><i class="fa fa-thumbs-up"></i> Like</button>
</form>
{{!-- {{item._id}} --}}

{{#each item.available}} 
<label>Price :</label>
{{this.price}}
<br>
<label>Location :</label>

<a href="/locations/{{this.location}}">{{this.location}}</a>
{{/each}}

