Product detail
<br>
<a href="/products"> Return</a>
<div class="productDetailsTop">
    <h1>{{item.name}}</h1> 

    <form action="" method="POST">
    <button class="btn btn-block btn-primary"><i class="fa fa-thumbs-up"></i> Like </button>
    </form>
</div>
{{!-- {{item._id}} --}}

<div>
    {{#each item.available}} 
    <div>
        <label>Location :</label>
        {{!-- <a href="/locations/{{this.location}}">{{this.location}}</a> --}}
        <a href="https://www.{{this.location}}.com">{{this.location}}</a>
        <label>Price :</label>
        {{this.price}}
        <br>


        <img src="{{this.image}}" alt="">
    </div>
    {{/each}}

</div>

