
<div class="container">

    <div class="page-header text-center">
        <h1> Hello {{user.local.email}}!</h1>
    </div>

    <hr>
<div class="container bootstrap snippet">
    <div class="row">
  		{{!-- <div class="col-sm-10"><h1>Username: {{user.local.email}}</h1></div> --}}
    	<div class="col-sm-2"><a href="/users" class="pull-right"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">

        {{#if user.profilePic}}
        <img src="{{user.profilePic}}" class="avatar img-circle img-thumbnail" alt="avatar">
        {{else}}
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        {{/if}}
        <h6>Upload a different photo...</h6>
        <form action="" method="POST" enctype="multipart/form-data"> 
            <input type="file" name="photo" class="text-center center-block file-upload" >
            <input type="submit" >
        </form>
      </div></hr><br>

       
               
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="https://github.com/nathancarv">github.com</a></div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            {{!-- <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li> --}}
           
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> <span id="total-likes"></span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> <span id="total-posts"></span></li>
            {{!-- <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li> --}}
          </ul> 
{{!--                
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div> --}}
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
                <li><a data-toggle="tab" href="#likes">Likes </a></li>
                <li><a data-toggle="tab" href="#posts">Posts </a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                     
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                    
              	</form>

             </div><!--/tab-pane-->
             
             
             <div class="tab-pane theLikes" id="likes">
                {{#each user.likes}}
                    <br>
                    <div>
                        <a href="/details/{{this._id}}"><h4>{{this.name}}</h4></a>
                        <form action= "/{{this._id}}/deletelike" method="POST">
                            <label>
                                <button type="submit">delete</button>
                            </label>
                        </form>

                    </div>
                {{/each}}
               <h2></h2>
         
             </div><!--/tab-pane-->
             
             
             <div class="tab-pane thePosts" id="posts">

                
                 {{#each products}}
                 <br>
                    <div>
                        <div class="postsMainInfo">
                            <div>
                                <a href="/details/{{this._id}}"><h4>{{this.name}}</h4></a>
                            </div>
                            
                            {{#each this.available}}
                            <div>
                                <h4>{{this.location}}:</h4>
                                <h5>{{this.price}}</h5>
                            </div>
                            
                            {{/each}}
                        </div>
                        <form action= "/{{this._id}}/deletepost" method="POST">
                            <label>
                                <button type="submit">delete</button>
                            </label>
                        </form>

                    </div>
                 {{/each}}
            		
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
        
</div>

<script>
let totalLikes = 0;
let totalPosts = 0;
{{#each user.likes}}
totalLikes++;
{{/each}}
{{#each products}}
totalPosts++;
{{/each}}
document.querySelector('#total-likes').innerText = totalLikes;
document.querySelector('#total-posts').innerText = totalPosts;

console.log(total)
</script>

